*{
 padding: 0;
 margin: 0;
}
.content{
 margin: auto;
 width: 90%;
 margin-top: 50px;
 
 
}
.img1{
 width: 50%;
 margin: auto;
 margin-top: -15px;
}
.img1 img{
 width: 90%;
}
.img2{
 margin: auto;
 width: 45%;
 margin-top: -15px;
}
.img2 img{
 width: 90%;
}
h2{
 text-align: center;
 color: black;
 padding: 30px;
}